---
---

@import "{{ site.theme }}";

p, i, em, b, s, div, h1, h2, h3, h4 {
  color: black !important;
  font-family: serif;
}

a {
  font-family: serif;
}

body {
  margin: 20px !important;
  width: 80%;
}

h1:first-child {
  display: flex;
  justify-content: center;
  a {
    font-size: 16px;
    color: black;
  }
}

h1, h2, h3 {
  border-bottom: none !important;
}
