:root {
  --col-min-width: 250px;
  --col-width: 30%;
  --col-max-width: 330px;
  --col-margin: 30px;
}

#home, #home * {
  background: black;
  color: white;
}

#home {
  width: 100%;
  margin: 0 !important;
  position: absolute;
}

#home-wrap {
  margin: 50px !important;
  background: inherit;
}

* {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

#home p {
  max-width: 300px;
}

.container-lg p {
  max-width: 700px;
  width: 75%;
  min-width: 400px;
}

p, li {
  font-size: 15px;
}

#home a {
  font-family: inherit;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: inherit;
  color: ivory;
}

.content {
  display: flex;
}

.col-1, .col-2, .col-3 {
  min-width: var(--col-min-width);
  width: var(--col-width);
  max-width: var(--col-max-width);
}

.col-1, .col-2 {
  margin-right: var(--col-margin);
}

h1 a {
  text-decoration: none !important;
}

.container-lg h1 a {
  color: blue;
}

body {
  margin: 50px !important;
}

h1:first-child a {
  font-size: 36px;
}

h1, h2, h3 {
  border-bottom: none !important;
  margin: 15px 0px;
}

#gradient {
  min-height: 25px;
  background: linear-gradient(to left, #e66465, #9198e5) !important;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  width: calc((var(--col-width) * 3) + (2 * var(--col-margin)) - 50px);
  min-width: calc((var(--col-min-width) * 3) + (2 * var(--col-margin)) - 50px);
  max-width: calc((var(--col-max-width) * 3) + (2 * var(--col-margin)) - 50px);;
  position: relative;
  left: -50px;
  font-style: italic;
  margin: 25px 0 20px;
}

#gradient > p {
  background: none;
}

.subsection {
  margin-bottom: 30px;
}

@media only screen and (max-width: 860px) {
  #gradient { display: none; }
  .content {
    flex-direction: column;
  }
  .col-1 { order: 1; }
  .col-3 { order: 2; }
  .col-2 { order: 3; }
}