---
---

@import "{{ site.theme }}";

* {
  color: black !important;
  font-family: serif;
}

a {
  font-family: serif;
  text-decoration: underline;
}

h1 a {
  text-decoration: none !important;
}

body {
  margin: 50px !important;
}

h1:first-child {
  a {
    font-size: 36px;
  }
}

h1, h2, h3 {
  border-bottom: none !important;
}
