---
---

@import "{{ site.theme }}";

* {
  color: black !important;
  font-family: serif;
}

a {
  font-family: serif;
  text-decoration: underline;
}

.content {
  display: flex;
}

.col-1, .col-2 {
  width: max-content !important;
}

.col-1 {
  margin-right: 100px;
}

h1 a {
  text-decoration: none !important;
}

body {
  margin: 50px !important;
}

h1:first-child {
  a {
    font-size: 36px;
  }
}

h1, h2, h3 {
  border-bottom: none !important;
  margin: 15px 0px;
}
